<%= provide(:title, @user.name) %>


<div class = "row display5">

  <div class = "col-md-3 background1">
    <br>
    <div class = "avatar">
      <%= image_tag(@user.avatar, height: "215px", width: "215px") %>
    </div>
    <!--<div class = "user_name header">
      <h4><%= @user.name %></h4>
    </div>
    <div class = "header">
      <%=simple_form_for(@user) do |f| %>
        <%= f.file_field :avatar %>
        <br>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>-->
    <br>
  </div>

  <div class = "col-md-8 background1">
    <% if @user.microposts.any? %>
      <h3>Micropost(<%= @user.microposts.count %>)</h3>
      <% @microposts.each do |micropost| %>
        <ol>
          <li>
            <%= link_to image_tag(micropost.picture.url, class: "display_micropost2"), micropost_path(micropost) %>
            <%= link_to micropost.name, micropost_path(micropost) %>
            <span class = "display1">
              <%= button_to "Update", edit_micropost_path(micropost), method: :get, class: "btn btn-default" %>
            </span>
            <span class = "display1">
              <%= button_to "Delete", micropost_path(micropost), method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
            </span>

            <div class = "divider"></div>
          </li>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    <% end %>
</div>
